*.[oa]
*.~
*.*~
*.Po
man/

Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
missing

src/sequencer/.deps/OscActivator.Po
src/sequencer/.deps/Pulse.Po
src/sequencer/.deps/fliehkraft.Po
src/store/.deps/CentralStore.Po
src/store/.deps/MessageDataQueue.Po
src/store/.deps/mdstore.Po
src/unit/.deps/ADSRGen.Po
src/unit/.deps/AddTwoGen.Po
src/unit/.deps/EGOneStepGen.Po
src/unit/.deps/EGUpDownGen.Po
src/unit/.deps/GatedConstantGen.Po
src/unit/.deps/IDGenerator.Po
src/unit/.deps/MultiplyGen.Po
src/unit/.deps/MultiplyTwoGen.Po
src/unit/.deps/NoiseGen.Po
src/unit/.deps/NoiseUnit.Po
src/unit/.deps/NumberGen.Po
src/unit/.deps/OnePoleLPFGen.Po
src/unit/.deps/Patch.Po
src/unit/.deps/PhasorGen.Po
src/unit/.deps/Port.Po
src/unit/.deps/STKAdapterGen.Po
src/unit/.deps/STKBiQuadGen.Po
src/unit/.deps/STKOnePoleGen.Po
src/unit/.deps/STKOneZeroGen.Po
src/unit/.deps/STKTwoPoleGen.Po
src/unit/.deps/STKTwoZeroGen.Po
src/unit/.deps/SawGen.Po
src/unit/.deps/SoundUnit.Po
src/unit/.deps/SquareGen.Po
src/unit/.deps/TwoInputMixerGen.Po
src/unit/.deps/UGen.Po
src/unit/.deps/WaveOutGen.Po

src/cmidiin
src/fliehkraft
src/kraftmaschine
src/store/mdstore
src/ugentest

